@import "tailwindcss";

:root {
  --background: #35302d;
  --foreground: #ffffff;
  --light-grey: #6d6661;
  --booking-primary: #ec5d30;
  --booking-hover: #c9512b;
  --nav-button: #33ec99;
  --nav-button-hover: #1cb470;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --booking-primary: var(--booking-primary);
  --booking-hover: var(--booking-hover);
  --nav-button: var(--nav-button);
  --nav-button-hover: var(--vav-button-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .heading-one {
    @apply text-[48px] font-bold;
  }

  .heading-two {
    @apply text-[36px] font-bold;
  }

  .heading-three {
    @apply text-[24px] font-bold;
  }

  .button-text {
    @apply text-[16px] font-bold;
  }

  .paragraph {
    @apply text-[14px];
  }

  .paragraph-sm {
    @apply text-[9px];
  }

  .info-text {
    @apply text-[12px] font-light;
  }
}


